<html>
    <head>
        <title>
            <%=  title   %>
        </title>
    </head>

    
    <body>

        <!-- Header --> 
        <%- include('_header'); %>          <!-- Partials -->

        <!-- Variable Part -->
        <%- body  %>


        <!-- Footer -->
        <%- include('_footer'); %>          <!-- Partials -->

    </body>
</html>